main {
  background-image: url("../../images/concrete-wall.png");
  background-repeat: repeat;
}

.main {
  margin: 0 auto;
}

.input-group button {
  border: 1px solid;
}

input,
.footer input,
.main input {
  border-radius: 5px;
  border: 1px solid #1c1c1c;
  height: auto;
  border-right: none;
}

input:focus,
.footer input:focus,
.main input:focus {
  -webkit-box-shadow: 1px 0 5px #9c9c9c;
          box-shadow: 1px 0 5px #9c9c9c;
}

.bg-light-grey {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

a,
p,
h1,
h2,
h3,
i,
button,
.input-group input,
.input-group button,
label {
  color: #1c1c1c;
  margin: 0;
}

label {
  color: #1c1c1c;
  padding-bottom: 5px;
}

h1,
h2,
h3 {
  font-family: "Merriweather", "Open Sans", "Segoe UI", Verdana;
  padding: 0;
}

p,
.nav__link,
label {
  font-family: "Open Sans", "Segoe UI", Verdana;
  font-size: 1rem;
}

a,
button:not(.nav__hamb-btn) {
  font-family: "Roboto", "Segoe UI", Verdana;
  font-size: 1.1rem;
}

h1 {
  font-weight: 500;
  font-size: 2.2rem;
  padding: 0 0 50px 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 0;
}

.nav {
  background-color: #faf00d;
}

.nav__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo img {
  width: 100px;
}

.nav__sm {
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__hamb-btn {
  border: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav i {
  font-size: 1.5rem;
}

.nav__link,
.nav__link i {
  text-align: center;
}

.nav__link:hover,
.nav__link i:hover {
  color: dimgray;
}

.nav__link--active,
.nav__link i--active {
  border-radius: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media only screen and (min-width: 991px) {
  .nav__collapse {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav__item {
    padding: 0;
  }
  .nav__logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .nav__logo img {
    width: 150px;
  }
}

.search {
  max-width: 400px;
  margin-bottom: 50px;
}

.search__btn {
  background-color: white;
}

.discount {
  max-width: 250px;
}

.discount__btn {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #d8d017), color-stop(#faf00d), color-stop(85%, #d8d017));
  background-image: linear-gradient(#d8d017 15%, #faf00d, #d8d017 85%);
}

.footer-wrapper {
  background-color: #d5f9ff;
}

.footer i {
  font-size: 2rem;
}

.footer .input-group {
  max-width: 350px;
}

.footer button {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #d8d017), color-stop(#faf00d), color-stop(85%, #d8d017));
  background-image: linear-gradient(#d8d017 15%, #faf00d, #d8d017 85%);
  color: #1c1c1c;
}

@media only screen and (min-width: 991px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
  }
  .footer__newsletter {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=style.css.map */