main {
  background-image: url("../../images/concrete-wall.png");
  background-repeat: repeat;
}

.main {
  margin: 0 auto;
}

img {
  width: 100%;
}

.bg-light-grey {
  background-color: #f0f0f0;
  padding: 50px 0;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

i {
  cursor: pointer;
}

/*loader*/
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 80px;
  height: 80px;
  border: 10px solid #faf00d;
  border-radius: 50%;
  border-top: 12px solid #75dff1;
  border-bottom: 12px solid #75dff1;
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*amount in cart*/
.bag-icon {
  position: relative;
}

.amount-cart {
  position: absolute;
  top: -2px;
  right: -2px;
  color: #f0f0f0;
  background-color: #1c1c1c;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 0.8rem;
}

a,
p,
h1,
h2,
h3,
i,
button,
.input-group input,
.input-group button,
label,
span,
.btn a,
.jumbotron a {
  color: #1c1c1c;
  margin: 0;
}

label {
  padding-bottom: 5px;
}

h1,
h2,
h3,
.prod-title {
  font-family: "Merriweather", "Open Sans", "Segoe UI", Verdana;
  padding: 0;
}

p,
.nav__link,
label,
span {
  font-family: "Open Sans", "Segoe UI", Verdana;
  font-size: 1rem;
}

a,
button:not(.nav__hamb-btn) {
  font-family: "Roboto", "Segoe UI", Verdana;
}

a,
a:hover,
.jumbotron a,
.btn a,
.products a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0 0 50px 0;
}

h2,
.prod-title {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
  h2,
  .prod-title {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

.no-results p {
  font-size: 1.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 0;
}

.products {
  gap: 20px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.product {
  width: 210px;
}

.card {
  border: none;
  padding: 10px 5px 0 5px;
  -webkit-box-shadow: 3px 3px 5px #8f8f8f;
          box-shadow: 3px 3px 5px #8f8f8f;
}

.card__body {
  padding-bottom: 20px;
}

.card__img {
  border-radius: 0;
  width: 200px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__price {
  margin: 10px 0;
}

.card__btn {
  margin: 0 auto;
}

.other-prods {
  gap: 50px;
  overflow: auto;
}

.other-prods__product {
  width: 220px;
}

.other-prods__img {
  border-radius: 0;
  width: 210px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.other-prods__body {
  padding-bottom: 5px;
}

@media only screen and (min-width: 420px) {
  .products {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .product {
    width: 170px;
  }
  .card {
    border: none;
    padding: 10px 5px 0 5px;
    -webkit-box-shadow: 3px 3px 5px #8f8f8f;
            box-shadow: 3px 3px 5px #8f8f8f;
  }
  .card__body {
    padding-bottom: 20px;
  }
  .card__img {
    border-radius: 0;
    width: 160px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 500px) {
  .product {
    width: 220px;
  }
  .card__img {
    border-radius: 0;
    width: 210px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 800px) {
  .product {
    width: 300px;
  }
  .card__img {
    border-radius: 0;
    width: 290px;
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 1000px) {
  .products {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .card__price {
    font-size: 1.2rem;
  }
}

.btn-yw {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #d8d017), color-stop(#faf00d), color-stop(85%, #d8d017));
  background-image: linear-gradient(#d8d017 15%, #faf00d, #d8d017 85%);
  color: #1c1c1c;
  -webkit-box-shadow: 3px 3px 5px #8f8f8f;
          box-shadow: 3px 3px 5px #8f8f8f;
  border-radius: 5px;
  outline: none;
}

.btn-yw:hover {
  background-color: #cac527;
  background-image: none;
  -webkit-box-shadow: 0 0 5px 3px #8f8f8f;
          box-shadow: 0 0 5px 3px #8f8f8f;
}

.btn-blue {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #28bfd5), color-stop(#75dff1), color-stop(85%, #28bfd5));
  background-image: linear-gradient(#28bfd5 15%, #75dff1, #28bfd5 85%);
  color: #1c1c1c;
  -webkit-box-shadow: 3px 3px 5px #8f8f8f;
          box-shadow: 3px 3px 5px #8f8f8f;
  outline: none;
}

.btn-blue:hover {
  background-color: #2ca1b3;
  background-image: none;
  -webkit-box-shadow: 0 0 5px 3px #8f8f8f;
          box-shadow: 0 0 5px 3px #8f8f8f;
}

.input-group button {
  border: 1px solid #1c1c1c;
}

#cancel {
  border: 3px solid #75dff1;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px #8f8f8f;
          box-shadow: 3px 3px 5px #8f8f8f;
}

/*login form*/
.login-form,
.add-form {
  margin: 0 auto;
  max-width: 320px;
}

.footer input,
.main input:not(.file-upload__input),
.input-group input,
textarea {
  border: 1px solid #1c1c1c !important;
  border-radius: 5px;
  height: auto;
  border-right: none;
}

.footer input:focus,
.main input:not(.file-upload__input):focus,
.input-group input:focus,
textarea:focus {
  -webkit-box-shadow: 1px 0 5px #9c9c9c;
          box-shadow: 1px 0 5px #9c9c9c;
}

.form-group input,
textarea {
  -webkit-box-shadow: 3px 3px 5px #8f8f8f;
          box-shadow: 3px 3px 5px #8f8f8f;
}

.nav {
  background-color: #faf00d;
}

.nav__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__collapse .menu {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.nav__collapse .menu__admin {
  font-weight: bold;
  padding: 8px 0;
}

.nav__logo img {
  width: 100px;
}

.nav__sm {
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__hamb-btn {
  border: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav i {
  font-size: 1.5rem;
}

.nav__link,
.nav__link i {
  text-align: center;
}

.nav__link:hover,
.nav__link i:hover {
  color: dimgray;
}

.nav__link--active,
.nav__link i--active {
  border-radius: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav #logout {
  background-color: #faf00d;
  font-style: italic;
  border: none;
}

.nav #logout:hover {
  color: dimgray;
}

@media only screen and (min-width: 991px) {
  .nav__collapse {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav__collapse .menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav__item {
    padding: 0;
  }
  .nav__logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .nav__logo img {
    width: 150px;
  }
}

.jumbotron {
  margin-bottom: 50px;
  padding: 0;
  position: relative;
}

.jumbotron__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jumbotron__text {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 300px;
}

.jumbotron__text p {
  font-size: 1.2rem;
}

.jumbotron__text p:nth-child(2) {
  margin-bottom: 30px;
}

.jumbotron__text a {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px 10px;
}

@media only screen and (min-width: 600px) {
  .jumbotron__text {
    top: 10%;
    right: 15%;
  }
}

@media only screen and (min-width: 900px) {
  .jumbotron__img {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .jumbotron__text {
    top: 10%;
    right: 10%;
    height: auto;
  }
  .jumbotron__text p {
    font-size: 2rem;
  }
  .jumbotron__text p:nth-child(2) {
    margin-bottom: 50px;
  }
  .jumbotron__text a {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 10px 20px;
  }
}

.search {
  max-width: 350px;
  margin-bottom: 50px;
}

.search__btn {
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .bg-light-grey .container {
    max-width: 600px;
  }
}

.bg-light-grey.prod-spec {
  margin-bottom: 50px;
}

.prod-specific {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prod-specific__img {
  width: 340px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.prod-specific__desc {
  max-width: 400px;
}

.prod-specific__price {
  font-size: 1.2rem;
  margin: 20px 0;
}

.prod-specific__size {
  max-width: 200px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 899px) {
  .prod-specific__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 900px) {
  .prod-specific {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .prod-specific__price {
    margin-top: 0;
  }
}

.discount {
  max-width: 220px;
  /* Why doesn't this button work like the others?*/
}

.discount__btn {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

#checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  color: #1c1c1c;
  padding: 9px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

#checkbox:checked::after {
  font: var(--fa-font-solid);
  content: "\f00c";
  font-size: 1rem;
  position: absolute;
  top: 1px;
  left: 2px;
  color: #1c1c1c;
}

.add-form #title,
.edit-form #title {
  max-width: 250px;
}

.add-form #price,
.edit-form #price {
  max-width: 100px;
}

.admin-products {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-products .sections__part {
  font-weight: bold;
}

.admin-products .info:not(:last-child) {
  margin-bottom: 20px;
}

.admin-products .info:not(:last-child) {
  border-bottom: 3px solid #75dff1;
  padding-bottom: 20px;
}

.admin-products .info__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.admin-products .info__section:not(:last-child) {
  margin-bottom: 20px;
}

.admin-products .info__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.admin-products .info__img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin-products .info__edit-del {
  -ms-grid-column-align: center;
      justify-self: center;
}

.admin-products .info__edit-del #delete {
  border: none;
  padding: 0;
}

.admin-products .info__edit-del #delete i {
  padding: 8px 9px;
}

.admin-products .info__edit-del i {
  border: 3px solid #75dff1;
  border-radius: 5px;
  background-color: #fff;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 8px;
}

.admin-products .info__edit-del i:hover {
  color: dimgray;
}

/*Md screen and up*/
@media only screen and (min-width: 768px) {
  .admin-products-md .sections,
  .admin-products-md .info-md {
    -ms-grid-columns: 3% 22% 12% 29% 7% 12%;
        grid-template-columns: 3% 22% 12% 29% 7% 12%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .admin-products-md .sections {
    margin-bottom: 20px;
  }
  .admin-products-md .info {
    border: none !important;
  }
  .admin-products-md .info__edit-del {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer-wrapper {
  background-color: #75dff1;
}

.footer i {
  font-size: 2rem;
}

.footer .input-group {
  max-width: 350px;
}

@media only screen and (min-width: 991px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
  }
  .footer__newsletter {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=style.css.map */