$color-primary: #faf00d;
$color-secondary: #21e1ff;
$color-white: #f0f0f0;
$color-black: #1c1c1c;

$border-radius: 5px;

.wrapper {
  background-image: url("../../images/sneaker-fabric.png");
  background-repeat: repeat;
  //background-color: $color-primary;
}
