$color-primary: #faf00d;
$color-secondary: #d5f9ff;
$color-white: #f0f0f0;
$color-black: #1c1c1c;
$gradient-yellow: linear-gradient(#d8d017 15%, $color-primary, #d8d017 85%);

$border: 1px solid $color-black;
$border-radius: 5px;

main {
  background-image: url("../../images/concrete-wall.png");
  background-repeat: repeat;
}

.main {
  margin: 0 auto;
}

.input-group button {
  border: 1px solid;
}

input,
.footer input,
.main input {
  border-radius: $border-radius;
  border: $border;
  height: auto;
  border-right: none;

  &:focus {
    box-shadow: 1px 0 5px lighten($color-black, 50%);
  }
}

.bg-light-grey {
  background-color: $color-white;
  padding: 20px 0;
}

.d-grid {
  display: grid;
}
