* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
  padding: 50px 0;
}
