.nav {
  background-color: $color-primary;

  &__item {
    align-self: center;
  }

  &__collapse {
    display: flex;
  }

  &__logo img {
    width: 100px;
  }

  &__sm {
    grid-template-columns: 1fr auto 1fr;
    flex: 1;
  }

  &__hamb-btn {
    border: none;
    justify-self: end;
  }

  i {
    font-size: 1.5rem;
  }

  &__link,
  &__link i {
    text-align: center;

    &:hover {
      color: lighten($color-black, 30%);
    }

    &--active {
      border-radius: $border-radius;
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  @media only screen and (min-width: 991px) {
    &__collapse {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      flex: 1;
    }

    &__item {
      padding: 0;
    }

    &__logo {
      justify-self: center;

      img {
        width: 150px;
      }
    }
  }
}
