.nav {
  background-color: $color-primary;

  @media only screen and (max-width: 992px) {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
  }

  &__item {
    align-self: center;
  }

  &__collapse {
    display: flex;
    justify-content: space-between;

    .menu {
      align-self: start;

      &__admin {
        font-weight: bold;
        padding: 8px 0;
      }
    }
  }

  &__logo img {
    width: 100px;
  }

  &__sm {
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
  }

  &__hamb-btn {
    border: none;
    justify-self: end;
  }

  i {
    font-size: 1.5rem;
  }

  .bag-icon {
    justify-self: start;
    width: fit-content;
    padding: 4px 12px;
  }

  &__link,
  &__link i {
    text-align: center;

    &:hover {
      color: $lighten-hover;
    }

    &--active {
      border-radius: $border-radius;
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  #logout {
    background-color: $color-primary;
    font-style: italic;
    border: none;

    &:hover {
      color: $lighten-hover;
    }
  }

  @media only screen and (min-width: 992px) {
    &__collapse {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      flex: 1;

      .menu {
        align-self: center;
      }
    }

    &__item {
      padding: 0;
    }

    &__logo {
      justify-self: center;

      img {
        width: 150px;
      }
    }
  }
}
