a,
p,
h1,
h2,
h3,
i,
button,
.input-group input,
.input-group button,
label,
.btn a,
.jumbotron a {
  color: $color-black;
  margin: 0;
}

label {
  padding-bottom: 5px;
}

h1,
h2,
h3,
.prod-title {
  font-family: "Merriweather", "Open Sans", "Segoe UI", Verdana;
  padding: 0;
}

p,
.nav__link,
label {
  font-family: "Open Sans", "Segoe UI", Verdana;
  font-size: 1rem;
}

a,
button:not(.nav__hamb-btn) {
  font-family: "Roboto", "Segoe UI", Verdana;
}

a,
.jumbotron a,
.btn a,
.products a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0 0 50px 0;
}

h2,
.prod-title {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  h2,
  .prod-title {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

.no-results p {
  font-size: 1.2rem;
}
