.custom-control-input ~ .custom-control-label,
.custom-control-input:checked ~ .custom-control-label::before {
  box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $color-secondary;
  background-color: $color-secondary;
}

.add-form,
.edit-form {
  #title {
    max-width: 250px;
  }

  #price {
    max-width: 100px;
  }
}

form label {
  font-size: 1.1rem;
}

#fileName {
  font-style: italic;
}
