#checkbox {
  appearance: none;
  background-color: #fff;
  color: $color-black;
  padding: 9px;
  border-radius: $border-radius;
  display: inline-block;
  position: relative;
}

#checkbox:checked::after {
  font: var(--fa-font-solid);
  content: "\f00c";
  font-size: 1rem;
  position: absolute;
  top: 1px;
  left: 2px;
  color: $color-black;
}

.add-form,
.edit-form {
  #title {
    max-width: 250px;
  }

  #price {
    max-width: 100px;
  }
}
