.admin-products {
  justify-content: center;

  .sections__part {
    font-weight: bold;
  }

  .info:not(:last-child) {
    margin-bottom: 20px;
  }

  .info {
    &:not(:last-child) {
      border-bottom: 3px solid $color-secondary;
      padding-bottom: 20px;
    }

    &__section {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
    }

    &__img {
      width: 160px;
      height: 160px;
      object-fit: cover;
    }

    &__edit-del {
      justify-self: center;

      #delete {
        border: none;
        padding: 0;

        i {
          padding: 8px 9px;
        }
      }

      i {
        border: 3px solid $color-secondary;
        border-radius: $border-radius;
        background-color: #fff;
        height: min-content;
        width: min-content;
        padding: 8px;

        &:hover {
          color: lighten($color-black, 30%);
        }
      }
    }
  }
}

/*Md screen and up*/
@media only screen and (min-width: 768px) {
  .admin-products-md {
    .sections,
    .info-md {
      grid-template-columns: 3% 22% 12% 29% 7% 12%;
      justify-content: center;
      gap: 20px;
    }

    .sections {
      margin-bottom: 20px;
    }

    .info {
      border: none !important;

      &__edit-del {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: center;
        align-items: start;
      }
    }
  }
}
