.cart {
  &__info,
  &__prod {
    grid-template-columns: 50% 30% 10% 10%;
  }

  &__info p,
  &__prod i {
    font-size: 1.2rem;
  }

  &__info {
  }

  &__prod {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    div {
      gap: 20px;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.discount {
  max-width: 220px;

  /* Why doesn't this button work like the others?*/
  &__btn {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }
}
