.cart-container {
  max-width: 700px;
}

.cart {
  &__prod {
    gap: 10px;
    grid-template-columns: 60% 30% 5%;
  }

  &__prod i {
    font-size: 1.2rem;
  }

  &__prod {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    div {
      gap: 20px;
    }
  }

  &__price {
    justify-self: center;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.discount {
  max-width: 220px;

  /* Why doesn't this button work like the others?*/
  &__btn {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }
}

.empty {
  border: none;
  opacity: 80%;
  font-style: italic;
}

.cost {
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 300px;

  &__prices {
    justify-self: end;
  }

  &__total,
  .total {
    font-weight: bold;
  }
}

.cart-buttons {
  &__cont,
  &__checkout {
    margin: auto;
    width: 164px;
  }
}

@media only screen and (min-width: 768px) {
  .cost {
    justify-content: end;
    justify-items: end;
    margin-right: 0;
  }

  .cart-buttons {
    gap: 50px;

    &__cont,
    &__checkout {
      margin: 0;
    }
  }
}
