.bg-light-grey.prod-spec {
  margin-bottom: 50px;
}

.prod-specific {
  justify-content: center;

  &__img {
    width: 340px;
    justify-self: center;
  }

  &__desc {
    max-width: 400px;
  }

  &__price {
    font-size: 1.2rem;
    margin: 20px 0;
  }

  &__size {
    max-width: 200px;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 899px) {
    &__btn {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 900px) {
  .prod-specific {
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    &__price {
      margin-top: 0;
    }
  }
}
