.btn-yw {
  background-color: $color-primary;
  color: $color-black;
  box-shadow: $shadow;
  border-radius: $border-radius;

  &:hover {
    background-color: $btn-yw-hover;
    background-image: none;
  }
}

.btn-blue {
  background: $color-secondary;
  color: $color-black;
  box-shadow: $shadow;

  &:hover {
    background-color: $btn-blue-hover;
  }
}

.btn-white {
  border: $thick-border-blue;
  border-radius: $border-radius;
  box-shadow: $shadow;
  padding: 4px 12px;

  &:hover {
    background-color: $btn-blue-hover;
    border-color: $btn-blue-hover;
  }
}

.form-btns {
  & > * {
    width: 80px;
    height: 42px;
  }
}
