.products {
  gap: 50px;
  justify-content: center;
  border-radius: $border-radius;
  margin: 0 auto;
}

.card {
  border: 1px solid $color-secondary;
  padding: 5px;
  max-width: 300px;

  &__body {
    padding-bottom: 10px;
  }

  &__img {
    border-radius: 0;
    width: 288px;
    height: 192px;
    object-fit: cover;
  }

  &__price {
    margin: 30px 0;
  }

  &__btn {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 680px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card__price {
    font-size: 1.2rem;
  }
}
