.products {
  gap: 20px;
  justify-items: center;
  justify-content: center;
  border-radius: $border-radius;
}

.product {
  width: 210px;
}

.card {
  border: none;
  padding: 10px 5px 0 5px;
  box-shadow: $shadow;

  &__body {
    padding-bottom: 20px;
  }

  &__img {
    border-radius: 0;
    width: 200px;
    height: 230px;
    object-fit: cover;
  }

  &__price {
    margin: 10px 0;
  }

  &__btn {
    margin: 0 auto;
  }
}

.other-prods {
  gap: 50px;
  overflow: auto;

  &__product {
    width: 220px;
  }

  &__img {
    border-radius: 0;
    width: 210px;
    height: 230px;
    object-fit: cover;
  }

  &__body {
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 420px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    width: 170px;
  }

  .card {
    border: none;
    padding: 10px 5px 0 5px;
    box-shadow: $shadow;

    &__body {
      padding-bottom: 20px;
    }

    &__img {
      border-radius: 0;
      width: 160px;
      height: 200px;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 500px) {
  .product {
    width: 220px;
  }

  .card__img {
    border-radius: 0;
    width: 210px;
    height: 250px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 800px) {
  .product {
    width: 300px;
  }

  .card__img {
    border-radius: 0;
    width: 290px;
    height: 320px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 1000px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card__price {
    font-size: 1.2rem;
  }
}
