/*login form*/
.login-form,
.add-form,
.edit-form {
  margin: 0 auto;
  max-width: 320px;
}

.footer input,
.main input:not(.file-upload__input-file),
.input-group input,
#description {
  border-radius: $border-radius;
  height: auto;
  border: none;
  box-shadow: $shadow;

  &:focus {
    box-shadow: 1px 0 5px lighten($color-black, 50%);
  }
}
