/*login form*/
.login-form,
.add-form {
  margin: 0 auto;
  max-width: 350px;
}

.footer input,
.main input,
.input-group input,
textarea,
.custom-file {
  border: $border !important;
  border-radius: $border-radius;
  height: auto;
  border-right: none;

  &:focus {
    box-shadow: 1px 0 5px lighten($color-black, 50%);
  }
}

.form-group input,
textarea {
  box-shadow: $shadow;
}
